.container{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px  40px;
}
html, body {
    background-color: #ffeead;
    margin: 10px;
  }
  
.header {
    grid-column: 1 / -1;
}
.container > div:nth-child(1n) {
    background-color: #96ceb4;	
  }


.footer {
    grid-column: 1 / -1;
}
.container > div:nth-child(4n) {
    background-color: #ffcc5c;

    
@media screen and (max-width: 480px) {
        .header {
            grid-column: 1 / -1;
        }
        .footer {
            grid-column: 1 / -1;
        }

}
}

